
.div1 {
    position:absolute;
    width: 100%;
    height: 20%;
    background-color: blue;
    margin-top: 2%;
}

.div2 {
    background-color: ghostwhite;
    margin-top:2%;
    height: 40%;
    width: 100%;
}

.div3 {
    position:absolute;
    height:30%;
    width:27%;
    background-color: gainsboro;
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 5%;
}

    .div3:hover {
        position: absolute;
        height: 30%;
        width: 27%;
        border-radius:5%;
        background-color: gainsboro;
        margin-left: 3%;
        margin-top: 2%;
        margin-bottom: 5%;
    }
	
	.icones{
		position:absolute;
		height:100%;
		width:100%;

	}


.header-site {
    height: 60%;
    width: 100%;
    background-image: url(../img/dentro2.png);
    background-position: center;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.imagen {
 
    height: 50%;
    width: 20%;
    margin-left: 43%;
    margin-top: 5%;
}
